COMPOSE_FILE=docker-compose.yml

POSTGRES_PASSWORD=replace-with-generated
JWT_SECRET=replace-with-generated
ANON_KEY=replace-with-generated
SERVICE_ROLE_KEY=replace-with-generated
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
JWT_KEYS=
JWT_JWKS=

DASHBOARD_USERNAME=replace-with-generated
DASHBOARD_PASSWORD=replace-with-generated

SECRET_KEY_BASE=replace-with-generated
REALTIME_DB_ENC_KEY=replace-with-generated
VAULT_ENC_KEY=replace-with-generated
PG_META_CRYPTO_KEY=replace-with-generated

S3_PROTOCOL_ACCESS_KEY_ID=replace-with-generated
S3_PROTOCOL_ACCESS_KEY_SECRET=replace-with-generated

SUPABASE_PUBLIC_URL=http://127.0.0.1:8000
API_EXTERNAL_URL=http://127.0.0.1:8000/auth/v1

POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_PORT=5432

SITE_URL=http://127.0.0.1:3000
ADDITIONAL_REDIRECT_URLS=http://localhost:3000/**

JWT_EXPIRY=3600
DISABLE_SIGNUP=false

MAILER_URLPATHS_CONFIRMATION="/auth/v1/verify"
MAILER_URLPATHS_INVITE="/auth/v1/verify"
MAILER_URLPATHS_RECOVERY="/auth/v1/verify"
MAILER_URLPATHS_EMAIL_CHANGE="/auth/v1/verify"

ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=false
SMTP_ADMIN_EMAIL=replace-with-sender-email
SMTP_HOST=replace-with-smtp-host
SMTP_PORT=587
SMTP_USER=replace-with-smtp-user
SMTP_PASS=replace-with-smtp-password
SMTP_SENDER_NAME=Whatsdesk
ENABLE_ANONYMOUS_USERS=false

ENABLE_PHONE_SIGNUP=false
ENABLE_PHONE_AUTOCONFIRM=true

GLOBAL_S3_BUCKET=stub
REGION=stub
STORAGE_TENANT_ID=stub

FUNCTIONS_VERIFY_JWT=false

PGRST_DB_SCHEMAS=public,graphql_public
PGRST_DB_MAX_ROWS=1000
PGRST_DB_EXTRA_SEARCH_PATH=public

API_GW_HTTP_PORT=8000
ANON_KEY_ASYMMETRIC=
SERVICE_ROLE_KEY_ASYMMETRIC=

IMGPROXY_AUTO_WEBP=true